# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [162]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [7]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [95]:
chipo.query('price_per_item > 10').item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [133]:
# Taking Min of item price so that only for 1 quantity the price is considered
chipo.groupby("item_name")["item_price"].min().reset_index()

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 6. Sort by the name of the item

In [137]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,name_with_variants
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6 Pack Soft Drink[Diet Coke]
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6 Pack Soft Drink[Diet Coke]
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6 Pack Soft Drink[Coke]
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6 Pack Soft Drink[Diet Coke]
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6 Pack Soft Drink[Coke]
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"Veggie Soft Tacos[Roasted Chili Corn Salsa, [F..."
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,"Veggie Soft Tacos[Fresh Tomato Salsa, [Black B..."
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,Veggie Soft Tacos[Roasted Chili Corn Salsa (Me...
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Veggie Soft Tacos[Fresh Tomato Salsa, [Fajita ..."
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,"Veggie Soft Tacos[Fresh Tomato Salsa (Mild), [..."

### Step 7. What was the quantity of the most expensive item ordered?

In [161]:
chipo.sort_values('item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,name_with_variants
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,NaN

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [171]:
Veggie_Salad_Bowl = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
len(Veggie_Salad_Bowl) #Method1
chipo[chipo.item_name == 'Veggie Salad Bowl'].shape[0] #Method2

18

### Step 9. How many times did someone order more than one Canned Soda?

In [189]:
Canned_Soda = chipo[chipo['item_name'] == 'Canned Soda'] #Method1
len(Canned_Soda[Canned_Soda.quantity > 1])

chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)] #Method2
len(chipo_drink_steak_bowl)

20